.form-fields {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

label {
  display: flex;
  justify-content: space-between;
}

.title {
  margin-bottom: 8px;
  font-weight: bolder;
}

.subtitle {
  font-weight: 600;
  color: rgb(142, 175, 175);
}

.d-flex {
  display: flex;
}
